{% extends 'layouts.html' %}
{% load static %}

{% block title %}
    <title>Channels APP | Home</title>
{% endblock title %}
    


{% block body %}
{% load static %}

<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card p-5">
          <div class="card-body text-center">
            <h5 class="card-title">Hoşgeldiniz!</h5>
            <p class="card-text">Bizimle zaman geçirdiğiniz için teşekkür ederiz. Sitemizi keşfetmeye başlamak için hazır mısınız?</p>
            <a href="#" class="btn btn-primary">Başla</a>
          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock body %}