{% extends 'layouts.html' %}
{% load static %}

{% block title %}
    <title>Channels APP | Register</title>
{% endblock title %}
    


{% block body %}
{% load static %}

{% load crispy_forms_tags %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="log-container">
            <div class="col-md-6 offset-md-3">
            <img src="#" alt=""></div>

            <form method="POST">
                {% csrf_token %}
                {{form | crispy}}
                <br>
                <button type="submit" class="btn btn-warning">Submit</button>
            </form>
            <br>
            <a href="#">Hesabın Var mı? Giriş Yap</a>
        </div>
    </div>
</div>
{% endblock body %}